.body{
    background-color: #FFF8DC;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 200px;
}
.edit-form{
    margin-top: 3%;
}
.employee-update-form {
    width: 40%;
    margin: auto;
    padding: 40px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 30px;
    width: 95%;
} 
.back-btn{
    height: 30px;
    margin-bottom: 15px;
    border: none;
    color: #fff;
    background: #000;
    padding-left: 15px;
    padding-right: 15px;
} 
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group select,
  .form-group input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid #000;
  }
  
  .form-group div {
    display: flex;
    gap: 10px;
  }
  
  .update-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .update-btn:hover {
    background-color: #45a049;
  }
  