.body{
 background-color: #FFF8DC;
 margin: 0;
 padding: 0;
 height: 100vh;
 width: 100%;
}
.navbar{
    display: flex;
    flex-direction: row;
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 2%;
}
.logo{
    height: 60px;
}
.login-t{
    font-size: 1.8rem;
}
.main-form{
    margin-left: 40%;
    margin-top: 5%;
}
.login-form{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 35%;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.heading-s{
    margin-top: 8%;
    margin-left: 10%;
}
.heading-l{
    margin-top: 20%;
    margin-left: 10%;
}
.username-input-s{
    width: 80%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 10%;
    margin-top: 2%;
}
.username-input{
    width: 80%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 10%;
    margin-top: 5%;
}
.password-input{
    width: 80%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 10%;
    margin-top: 5%;
}
.email-input{
    width: 80%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 10%;
    margin-top: 5%;
}
.phone-input{
    width: 80%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #000;
    margin-left: 10%;
    margin-top: 5%;
}
.login-btn{
    width: 30%;
    height: 35px;
    padding-bottom: 2px;
    margin-left: 35%;
    margin-top: 5%;
    border: none;
    background-color: #151B54;
    color: #fff;
}
.last-t{
    text-align: center;
    margin-top: 5%;
}